.container-fluid {
  padding: 0px;
  height: 100%;
  background-color: black;
}

#landing-background-img {
  height: 100%;
  width: 100vw;
  position: absolute;
  z-index: 0;
  object-fit: cover;
  opacity: 15%;
}